<div class="bottom-container">
  <h3>Projects and Connections</h3>
  <a
    class="footer-link"
    href="https://www.linkedin.com/in/zacchaeus-napuo-988248159/"
    target="blank"
    >LinkedIn</a
  >
  <a
    class="footer-link"
    href="https://napuo-node-chat-app.herokuapp.com/"
    target="blank"
    >Basic Chat-App Project</a
  >
  <a
    class="footer-link"
    href="https://napuo-react-phone-shop.netlify.app/"
    target="blank"
    >Phone-Shop Project</a
  >
  <a class="footer-link" href="https://github.com/ZacchNaa/" target="blank"
    >Github</a
  >
  <p class="copyright">© 2020 Zacchaeus Napuo @ ZN.freshCODE</p>
</div>
