body {
  /* background-color: #ddf3f5; */
  color: #40514e;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  overflow-x: hidden;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #40514e;
  text-decoration: none;
}
/* hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #eaf6f6;
  border-width: 7px;
  width: 4%;
  margin: 50px auto;
} */
p {
  font-size: 1.2rem;
  line-height: 2;
  color: #ddf3f5;
}
h1 {
  color: #66bfbf;
  /* in font-size, 16px = 100% = 1em eg 90px => 90/16*100 = 562.5 percentages and em makes the font dynamic on the site */
  font-family: "Great Vibes", cursive;
  /* font-family: "Sacramento", cursive; */
  font-size: 5.625rem;
  letter-spacing: 10px;
  margin: 20px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  color: #eeb26e;
  font-family: "Montserrat", sans-serif;
}

.brand-icon {
  color: #11999e;
  font-size: 3.5rem;
  margin: 0.2rem 2rem 0.2rem 1rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  /* font-weight: bold; */
  color: #11999e !important;
}
.features-icons {
  color: #ff8303;
  /* font-size: 3.5rem; */
  margin: 1rem;
}
.features-icons:hover {
  color: #eeb26e;
}

/* Navigation styles */
.navbar {
  margin: 0 0 2rem 0;
  background-color: #ddf3f5;
  position: fixed;
  top: 0;
  transition: top 0.3s;
}

.nav-item {
  padding: 0px 18px;
}
.nav-item a {
  color: #11999e !important;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.top-container {
  background-color: rgba(0, 0, 0, 0.33);
  position: relative;
  padding-top: 100px;
}

.contact-me {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.bottom-container {
  background-color: #142850;
  padding: 50px 0 20px;
}
.footer-link {
  padding: 20px auto;
}

.fliping-laptop {
  height: 10%;
  position: absolute;
  right: 150px;
  top: 30px;
}
.bottom-cloud {
  position: absolute;
  left: 100px;
  bottom: 300px;
}
.profile img {
  width: 25%;
  padding-top: 20px;
}
.profile p {
  width: 35%;
  margin: 0 auto;
}
.contact-gif {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.code-gif {
  width: 25%;
  float: left;
  margin-right: 30px;
}
.design-gif {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.design-skill-descr {
  margin-bottom: 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 0;
  text-align: left;
}

.transparent-bg {
  background-color: rgba(24, 209, 226, 0.65);
  padding: 20px;
}
.email-addr {
  color: #11999e;
}
.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  margin: 20px 0;
}

#introduction {
  background-color: #ffffff;
  padding-bottom: 80px;
  margin-top: 7.5rem;
}
#skills {
  background-color: #ffffff;
}
.skills {
  padding-top: 80px;
  padding-bottom: 80px;
}
#graphic-design {
  background-color: #ddf3f5;
  padding-top: 80px;
  padding-bottom: 80px;
}
#web-design {
  background-color: #ffffff;
  padding: 80px;
}
#contact-me {
  background-color: #ddf3f5;
  padding-top: 80px;
  padding-bottom: 80px;
}
#projects {
  background-color: #aeeee2;
}
#gallery {
  padding-left: 45px;
}
.testimonial-img {
  width: 50%;
}

.project-samples {
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.div_container {
  text-align: center;
}
.body_mask1 {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-bottom: 80px;
  background-color: rgba(255, 255, 255, 0.6);
  padding-top: 40px;
}
.div_title1 {
  padding: 16px 70px;
  /* background-color: rgba(255, 255, 255, 0.6); */
  color: #11999e;
  font-size: 26px;
  font-family: "Carme", sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px !important;
  margin-bottom: 40px;
  display: inline-block;
  box-shadow: rgba(24, 209, 226, 0.15) 0px 2px 2px 0px inset,
    rgba(24, 209, 226, 0.15) 0px 3px 2px 0px inset;
  -webkit-box-shadow: 0px 2px 6px 2px rgba(69, 65, 69, 1);
  -moz-box-shadow: 0px 2px 6px 2px rgba(69, 65, 69, 1);
  box-shadow: 0px 2px 6px 2px rgba(69, 65, 69, 1);
}

.div_title1:hover {
  background-image: url("../images/marble-texture-greenshade.png");
}
.sample-design-h2:hover {
  color: #ff8303;
}
.sample-design-p:hover {
  color: #ff8303;
}
.picks {
  box-sizing: unset;
}
.picks_div {
  max-width: 100%;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.picks_img {
  position: absolute;
  width: 94%;
  height: 100%;
  overflow: hidden;
  padding: 0px;
  -webkit-box-shadow: 0px 0px 19px -1px rgba(92, 91, 92, 1);
  -moz-box-shadow: 0px 0px 19px -1px rgba(92, 91, 92, 1);
  box-shadow: 0px 0px 19px -1px rgba(92, 91, 92, 1);
}
.picks_img img {
  width: 100%;
  height: 100% !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.picks_img img.wide {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.picks_img img.tall {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
â€‹ .slides .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}
.picks_div a {
  text-decoration: none;
}
.picks_img img:hover,
.picks_img img:focus {
  transform: scale(1.1);
}
.text_a {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: solid 2px #11999e;
  font-size: 20px;
  color: #11999e;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  padding-top: 20%;
}
.picks_img:hover img {
  filter: grayscale(1) blur(3px) !important;
  -webkit-filter: grayscale(1) blur(3px);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.picks_img .text_a {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #11999e;
  text-transform: uppercase;
}
.picks_img:hover .text_a {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  overflow: hidden;
}
/* PROJECT SECTION STILLS */
/* CONTACT ME BUTTON STYLE */
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px auto;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
/* CONTACT ME BUTTON STYLE */
/* BACKGROUND IMGS STYLE */
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  background-image: url("../images/marble-texture-tomato.png");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../images/thumbnail-1.png");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../images/marble-texture-greenshade.png");
  min-height: 400px;
}
.bgimg-4 {
  background-image: url("../images/Asset\ 4.png");
  min-height: 400px;
}
.bgimg-5 {
  background-image: url("../images/bg-1.png");
  min-height: 400px;
}

@media (max-width: 1028px) {
  .fliping-laptop {
    height: 5%;
    position: absolute;
    right: 60px;
    top: 60px;
  }
  .bottom-cloud {
    height: 10%;
    position: absolute;
    left: 60px;
    bottom: 450px;
  }
  .profile p {
    width: 55%;
    margin: 0 auto;
  }
  .contact-gif {
    display: none;
  }
  .contact-me {
    width: 80%;
    margin: 100px auto;
    text-align: center;
  }
  h2 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    margin-top: 1.5rem;
  }
  .footer-link {
    padding: 20px auto;
  }
}

/* GALLERY section using css grid*/
.close {
  background: none;
  color: white;
  border: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}

.item {
  overflow: hidden;
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item__overlay {
  /* the last 32 is transparency value */
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}

.item__overlay button {
  background-color: none;
  border: 2px solid white;
  color: white;
  /* text-transform: uppercase; */
  background: rgba(0, 0, 0, 0.19);
  /* padding: 10px; */
}
.item:hover .item__overlay {
  transform: translateY(0%);
}
.item.v2 {
  grid-row: span 2;
}
.item.v3 {
  grid-row: span 3;
}
.item.v4 {
  grid-row: span 4;
}
.item.h2 {
  grid-column: span 2;
}
.item.h3 {
  grid-column: span 3;
}
.item.h4 {
  grid-column: span 4;
}
.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  justify-items: center;
  align-items: center;
}

.innerOverlay {
  background: rgba(0, 0, 0, 0.6);
  width: 700px;
  padding: 20px;
}

.overlay img {
  width: 100%;
  height: 100%;
}
.item {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 2rem;
  /* background-color: #aeeee2; */
}
